﻿@model TodoListApp_ASPNetCoreMVC.Models.User

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Login">
                        <div class="form-group mb-3">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" required />
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" required />
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <partial class="text-danger">@ViewBag.Message</p>
                    <a asp-action="Register" class="btn btn-link">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
