﻿@model TodoListApp_ASPNetCoreMVC.ViewModels.RegisterViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h3>Register</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Register" method="post">
                        @Html.AntiForgeryToken()

                        <div class="form-group mb-3">
                            <label asp-for="Username">Username</label>
                            <input asp-for="Username" class="form-control" required />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" class="form-control" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input asp-for="ConfirmPassword" class="form-control" required />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Register</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p class="text-danger">@ViewBag.Message</p>
                    <a asp-action="Login" class="btn btn-link">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
