﻿@model TodoListApp_ASPNetCoreMVC.Models.TodoItem
@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h2 class="mt-4">Delete Todo</h2>
    <h3>Are you sure you want to delete this?</h3>
    <div class="mb-3">
        <label>Task</label>
        <input type="text" value="@Model.Task" class="form-control" readonly />
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>