﻿@model TodoListApp_ASPNetCoreMVC.Models.TodoItem

@{
    ViewData["Title"] = "Edit";
}

 <div class="container">
    <h2 class="mt-4">Edit Todo</h2>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="UserId"/>
        <div class="mb-3">
            <label asp-for="Task" class="form-label">Task</label>
            <input type="text" asp-for="Task" class="form-control" />
            <span asp-validation-for="Task" class="text-danger"></span>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" asp-for="IsCompleted" />
            <label class="form-check-label" asp-for="IsCompleted">
                Completed
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>