﻿@model IEnumerable<TodoListApp_ASPNetCoreMVC.Models.TodoItem>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2 class="mt-4">Todo List</h2>
    <form asp-action="Add" method="post" class="mb-4">
        <div class="input-group">
            <input type="text" name="task" class="form-control" placeholder="Add a new task" required />
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in Model)
            {
                <tr>
                    <td>@todo.Task</td>
                    <td>
                        <form asp-action="UpdateStatus" method="post" class="d-inline">
                            <input type="hidden" name="id" value="@todo.Id" />
                            <input type="checkbox" name="isCompleted" value="true" @(todo.IsCompleted ? "checked" : "") onchange="this.form.submit()" />
                        </form>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@todo.Id" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@todo.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
